{% import _self as formMacros %}

{% macro printUploadRow(upload) %}
    <div class="col-xs-4 js-tag-item">
        <div class="input-group m-2">
            {{ form_errors(upload) }}
            {{ form_widget(upload) }}
            &nbsp<a href="#" class="js-remove-tag pull-right"><span class="fa fa-2x fa-times-circle"></span></a>
        </div>
    </div>
{% endmacro %}

{% block form %}
    {{ form_start(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.category) }}
    {{ form_row(form.text) }}

    <p>{{ "label.attachments"|trans }}</p>
    <div class="container">
        {% if attachments %}
            <div class="row">
                <ul class="list-group">
                    {% for attachment in attachments %}
                        <li id="attachment{{ loop.index }}" class="list-group-item"><a href="{{ path('uploads_showprivatefile', {'path': attachment.name}) }}" target="_blank"><i class="fa fa-paperclip"></i> {{ attachment.originalname }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="row js-tag-wrapper mb-2"
             data-prototype="{{ formMacros.printUploadRow(form.uploads.vars.prototype)|e('html_attr') }}"
             data-index="{{ form.uploads|length }}"
        >
            {% for upload in form.uploads %}
                {{ formMacros.printUploadRow(upload) }}
            {% endfor %}
            <a href="#" class="js-tag-add"><span class="fa fa-plus-circle"></span> {{ "label.attachments.add"|trans }}</a>
        </div>
    </div>

    {% if action == 'create' %}
        <div class="clearfix">
            <div class="btn-group float-right" role="group" aria-label="">
                <a class="btn btn-secondary" href="{{ path('note_index') }}" role="button">{{ "link.onboarding.back_list"|trans }}</a>
                <button type="submit" class="btn btn-success">{{ "button.onboarding.create"|trans }}</button>
            </div>

            {{ form_end(form) }}
        </div>
    {% elseif action == 'update' %}
        <div class="clearfix">
            <div class="btn-group float-right" role="group" aria-label="">
                <a class="btn btn-secondary" href="{{ path('note_show', {'id': note.id}) }}" role="button">{{ "link.onboarding.back"|trans }}</a>
                <button type="submit" class="btn btn-success">{{ "button.onboarding.save"|trans }}</button>
            </div>

            {{ form_end(form) }}

            {{ include('form/_delete_entity_form.html.twig', {
                'entity': note,
                'btn_delete': 'button.onboarding.delete',
                'title_modal_delete': 'title.onboarding_modal.delete',
                'msg_modal_delete': 'msg.onboarding_modal.delete',
                'label_delete': 'label.delete_onboarding',
                'entity_deletepath': 'onboarding_delete',
                'show_confirmation': 'true'
            }) }}
        </div>
    {% endif %}
{% endblock %}
