{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ "title.onboarding.edit"|trans }} - {{ note.name }}{% endblock %}

{% block body %}
    {{ include('components/project_tabs.html.twig') }}

    <h1 class="mt-2">{{ "title.onboarding.edit"|trans }}</h1>

    {% for error in errors %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endfor %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">
                {{ message|trans }}
            </div>
        {% endfor %}
    {% endfor %}

    {{ include('note/_form.html.twig', {
        'action': 'update',
        'attachments': attachments,
        'show_confirmation': 'true',
    }) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('editor') }}
{% endblock %}
