{% extends 'base.html.twig' %}

{% block title %}{{ "title.onboarding.show"|trans }} - {{ note.name }}{% endblock %}

{% block body %}
<main role="main" class="container">
    {{ include('components/project_tabs.html.twig') }}

    <div>
        <h1 class="mt-2">{{ "title.onboarding.show"|trans }}</h1>

        <div class="row">
            <div class="col-3">
                <ul class="list-group">
                    {% for note in notes %}
                        <li class="list-group-item"><a href="{{ path('onboarding_show', {'id': note.id}) }}">{{ note.name }}</a></li>
                    {% else %}
                        <li class="list-group-item disabled">No entries found</li>
                    {% endfor %}
                    <li class="list-group-item"><a class="btn btn-primary" href="{{ path('onboarding_new') }}" role="button">{{ "button.onboarding.new"|trans }}</a></li>
                </ul>
            </div>
            <div class="col-9">
                <h2>{{ note.name }}</h2>

                <div class="mb-2">
                    {{ note.text|raw }}

                    <small>Created at {{ note.createdAt|date("Y.m.d H:i") }}, last updated at {{ note.updatedAt|date("Y.m.d H:i") }}</small>
                </div>

                <div class="clearfix">
                    <div class="btn-group float-right" role="group" aria-label="">
                        <a class="btn btn-secondary" href="{{ path('onboarding_edit', {'id': note.id}) }}" role="button">{{ "button.onboarding.edit"|trans }}</a>
                    </div>

                    {{ include('onboarding/_delete_form.html.twig') }}
                </div>
            </div>
        </div>

    </div>
</main>
{% endblock %}
