{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ "title.login"|trans({}, "forms") }}{% endblock %}

{% block body %}
    <main role="main" class="content container">
        {% if app.user %}
            <div class="mb-3">
                {{ "msg.logged.in.as"|trans }} {{ app.user.username }}, <a href="{{ path('security_logout') }}">{{ "Logout"|trans }}</a>
            </div>

            {% for label, messages in app.flashes(['warning', 'error', 'success', 'notice']) %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% else %}
            <h1>{{ "title.login"|trans({}, "forms") }}</h1>

            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            {{ form_start(form) }}
                {{ form_row(form.username) }}
                {{ form_row(form.password) }}

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="form-group">
                    <button type="submit" class="btn btn-success">{{ "button.login"|trans({}, "forms") }} <span class="fa fa-lock"></span></button>

                    &nbsp;<input type="checkbox" id="remember_me" name="_remember_me"/>
                    <label for="remember_me">{{ "button.remember_me"|trans() }}</label>
                </div>
            {{ form_end(form) }}

            <p>
                <a href="{{ path('security_register') }}">{{ "link.register"|trans({}, "forms") }}</a><br />
                <a href="{{ path('app_forgot_password_request') }}">{{ "link.forgotpassword"|trans({}, "forms") }}</a>
            </p>
        {% endif %}
    </main>
{% endblock %}