{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ "title.login"|trans({}, "forms") }}{% endblock %}

{% block body %}
    <form method="post">
    <main role="main" class="container">
        {% if app.user %}
            <div class="mb-3">
                {{ "You are logged in as "|trans }}{{ app.user.username }}, <a href="{{ path('security_logout') }}">{{ "Logout"|trans }}</a>
            </div>
        {% endif %}

        <h1>{{ "title.login"|trans({}, "forms") }}</h1>

        {% for label, messages in app.flashes(['warning', 'error', 'success', 'notice']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {{ form_start(form) }}

        {{ form_row(form.username) }}
        {{ form_row(form.password) }}

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="form-group">
            <button type="submit" class="btn btn-success">{{ "button.login"|trans({}, "forms") }} <span class="fa fa-lock"></span></button>

            <input type="checkbox" id="remember_me" name="_remember_me"/>
            <label for="remember_me">{{ "button.remember_me"|trans() }}</label>
        </div>

        <a href="{{ path('app_forgot_password_request') }}">{{ "link.forgotpassword"|trans({}, "forms") }}</a>

        {{ form_end(form) }}
    </main>
{% endblock %}