{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <main role="main" class="container">

    <h1>Register</h1>

        {% for label, messages in app.flashes(['warning', 'error', 'success', 'notice']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.email) }}

        <button type="submit" class="btn btn-success">Register</button>
    {{ form_end(registrationForm) }}
    </main>
{% endblock %}