{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ "title.register"|trans({}, "forms") }}{% endblock %}

{% block body %}
    <main role="main" class="container">
        {% if app.user %}
            <div class="mb-3">
                {{ "msg.logged.in.as"|trans }} {{ app.user.username }}, <a href="{{ path('security_logout') }}">{{ "Logout"|trans }}</a>
            </div>

            {% for label, messages in app.flashes(['warning', 'error', 'success', 'notice']) %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% else %}
            <h1>{{ "title.register"|trans({}, "forms") }}</h1>

                {% for label, messages in app.flashes(['warning', 'error', 'success', 'notice']) %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.username) }}
                    {{ form_row(registrationForm.plainPassword) }}
                    {{ form_row(registrationForm.email) }}

                    <button type="submit" class="btn btn-success">{{ "button.register"|trans({}, "forms") }}</button>
                {{ form_end(registrationForm) }}

                <p class="mt-3">
                    <a href="{{ path('security_login') }}">{{ "link.login"|trans({}, "forms") }}</a>
                </p>
        {% endif %}
    </main>
{% endblock %}