<p>
    {{ exam.vigilanz|capitalize }}{% if exam.canHaveAnsprechbarkeit %}, {{ exam.ansprechbarkeit }}{% endif %}{% if exam.canHaveOrientierung %}, {{ exam.orientierung }}{% endif %}{% if exam.canHaveRASS %}, RAAS: {{ exam.rass_index }}{% endif %}{% if exam.canHaveCAM %}, CAM-ICU: {{ exam.cam_index }}{% endif %}.

    Pupillen {{ exam.pupillen_isokorie }}, {{ exam.pupillen_lichtreagibilitaet }} lichtreagibel.
    Sensomotorische Defizite {{ exam.sensomotorischedefizite }}. {% if exam.canHaveSensomotorischesDefizitDetail %}{{ exam.sensomotorischedefizite_detail }}{% endif %}

    {% if exam.atmung == 'CPAP' %}NIV-Therapie{% else %}{{ exam.atmung|capitalize }}{% endif %}
    {% if exam.canHaveO2Gabe and exam.o2_flow %} ({{ exam.o2_flow }}l O2/min).{% endif %}
    {% if exam.atmung == 'CPAP' %} (PEEP {{ exam.peep }}mmHg, ASB {{ exam.asb }}mmHg, FiO2 {{ exam.fio2 }}).%{% endif %}
    {% if exam.atmung == 'intubiert' and exam.beatmung_modus == 'CPAP' %} (CPAP-Modus; PEEP {{ exam.peep }}mmHg, ASB {{ exam.asb }}mmHg, AF {{ exam.atemfrequenz }}/min, FiO2 {{ exam.fio2 }}%).{% endif %}
    {% if exam.atmung == 'intubiert' and exam.beatmung_modus == 'BiPAP' %} (BiPAP-Modus; PEEP {{ exam.peep }}mmHg, ASB {{ exam.asb }}mmHg, Pinsp {{ exam.pinsp }}mmHg, AF {{ exam.atemfrequenz }}/min, FiO2 {{ exam.fio2 }}%).{% endif %}

    Gasaustausch {{ exam.gasaustausch }}{% if exam.gasaustausch == 'eingeschränkt' %} ({{ exam.gasaustausch_detail }}).{% else %}.{% endif %}

    Atemgeräusch {{ exam.atemgeraeusch }}{% if exam.canHaveAtemgeraeuschLokalisation %} {{ exam.atemgeraeusch_lokalisation }}{% endif %}{% if exam.canHaveRasselgeraeuschCharakter %}, {{ exam.rasselgeraeusch_charakter }}{% endif %}.
    {% if exam.canHaveHustenstoss %}Hustenstoß {{ exam.hustenstoss }}.{% endif %}

    {{ exam.rhythmus }}{% if exam.canHaveHerzfrequenz %} ({{ exam.herzfrequenz }}){% endif %}{% if exam.canHaveVorhofflimmernDetail %}, {{ exam.vorhofflimmern_detail }}{% endif %}{% if exam.canHaveRhythmusSonstiges %}, {{ exam.rhythmus_sonstiges}}{% endif %}.

    {% if 'Keine' in exam.kreislauf %}Keine medikamentöse Kreislaufunterstützung.{% else %}Kreislaufunterstützung mit: {% for key in exam.kreislauf %}{{ key }} ({% if key == 'Noradrenalin' %}{{ exam.noradrenalin|number_format(2) }}{% elseif key == 'Epinephrin' %}{{ exam.epinephrin|number_format(1) }}{% elseif key == 'Milrinon' %}{{ exam.milrinon|number_format(1) }}{% endif %} mg/h){% if loop.last %}.{% else %}, {% endif %}{% endfor %} Unter dieser Therapie {{ exam.kreislauf_stabil }}e Kreislaufverhältnisse.{% endif %}
    {% if exam.canHaveKreislaufSonstiges %}{{ exam.kreislauf_sonstiges }}{% endif %}
    {% if exam.canHaveLegRaiseTest %}Leg raise Test {{ exam.legraise_test }}.{% endif %}

    Abdomen {{ exam.abdomen }}, Darmgeräusche {{ exam.darmgeraeusche }}, Druckschmerz {{ exam.druckschmerz }}{% if exam.canHaveDruckschmerzLokalisation %} {{ exam.druckschmerz_lokalisation }}{% endif %}. Stuhlgang: {{ exam.stuhlgang }}.

    {{ exam.nierenfunktion }}{% if exam.canHaveDiuretika %} {{ exam.diuretika }}{% endif %}{% if exam.canHaveRestausscheidung %}: Restausscheidung {{ exam.restausscheidung }}{% endif %}, Bilanzierung {{ exam.bilanz }}. Ödeme {{ exam.oedeme }}.

    Extremitäten {{ exam.extremitaeten }} {{ exam.extremitaeten_seite }}. Fußpulse {{ exam.fusspulse }}.

    {% if exam.canHaveErnaehrungsform %}Laufende {{ exam.ernaehrungsform }}e Ernährung.{% else %}Keine künstliche Ernährung.{% endif %}

    Punktionsstellen {{ exam.punktionsstellen }}{% if exam.canHavePunktionsstellen %}; {{ exam.punktionsstellen_details }}.{% else %}.{% endif %}

    {% if exam.ecmo == 'veno-venös' %}Laufende veno-venöse ECMO mit {{ exam.blutfluss }}l/min Blutfluss und {{ exam.sweepgasfluss }}l/min Sweepgasfluss, bei FiO2 {{ exam.ecmo_fio2 }}%.{% endif %}
    {% if exam.ecmo == 'veno-arteriell' %}Laufende veno-arterielle ECMO mit {{ exam.blutfluss }}l/min Blutfluss und {{ exam.sweepgasfluss }}l/min Sweepgasfluss, bei FiO2 {{ exam.ecmo_fio2 }}%.{% endif %}

    {% if exam.canHaveImpella %}Impella {{ exam.impella }}.{% endif %}

    {% if exam.sonstiges %}{{ exam.sonstiges }}{% endif %}
</p>