{% extends 'base.html.twig' %}

{% macro render_snippet(snippet, name, gender) %}
    <p>
        {{ snippet|raw }}
    </p>
{% endmacro %}

{% block title %}{{ parent() }} - {{ "title.letter_view"|trans }}{% endblock %}

{% block body %}
    {{ include('_components/project_tabs.html.twig') }}

    <div>
        <h1 class="mt-2">{{ "title.letter_view"|trans }}</h1>

        <div class="card">
            <div class="card-header">
                <button class="btn copy btn-dark btn-sm float-right" data-clipboard-target="#copy-target"><i class="fa fa-clipboard"></i> {{ "button.letter.copy"|trans }}</button>
            </div>
            <div class="card-body" id="copy-target">
                {% if snippets is empty %}
                    <div class="alert alert-danger">
                        {{ "msg.no_snippets_provied"|trans }}
                    </div>
                {% endif %}

                {% for snippet in snippets %}
                    {# you don't have to import the macro before using it #}
                    {{ _self.render_snippet(snippet) }}
                {% endfor %}
            </div>
            <div class="card-footer">
                <div class="clearfix">
                    <a class="btn btn-primary float-right" href="{{ path('letter') }}" role="button">{{ "link.letter_create.back"|trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('letter') }}
{% endblock %}