{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ "title.letter_create"|trans }}{% endblock %}

{% form_theme form.snippets 'forms/choicetype_widget.html.twig' %}

{% block body %}
    <main role="main" class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('homepage') }}">{{ "link.homepage"|trans }}</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="{{ path('letter') }}">{{ "link.letter"|trans }}</a></li>
            </ol>
        </nav>

        <div class="clearfix">
            <h1>{{ "title.letter_create"|trans }}</h1>

            {% for error in errors %}
                <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endfor %}

            {{ form_start(form) }}

            {{ form_row(form.name) }}
            {{ form_row(form.gender) }}

            {{ form_row(form.snippets) }}

            <div class="btn-group float-right" role="group" aria-label="Basic example">
                {{ form_widget(form.reset) }}
                {{ form_widget(form.submit) }}
            </div>
            {{ form_end(form) }}
        </div>
    </main>
{% endblock %}
