{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ "title.password.link_send"|trans }}{% endblock %}

{% block body %}
    <h1>{{ "title.password.reset"|trans }}</h1>

    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <p>{{ "msg.password.link_send"|trans{'expiration': tokenLifetime|date('g') } }}</p>
{% endblock %}