{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ "title.homepage"|trans }}{% endblock %}

{% block body %}
    <main role="main" class="container">
        {{ include('components/project_tabs.html.twig') }}

        <div class="jumbotron mt-2">
            <h1>{{ "homepage_teaser_h1"|trans }}</h1>
            <p class="lead">{{ "homepage_teaser_text"|trans }}</p>
            <a class="btn btn-lg btn-primary" href="{{ path('letter') }}" role="button">{{ "homepage_teaser_link"|trans }} &raquo;</a>
        </div>
    </main>
{% endblock %}
