{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ "title.homepage"|trans }}{% endblock %}

{% block body %}
    {{ include('components/project_tabs.html.twig') }}

    {% for label, messages in app.flashes(['warning', 'error', 'success', 'notice']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="jumbotron mt-2">
        <h1>{{ "homepage_teaser_h1"|trans }}</h1>
        <p class="lead">{{ "homepage_teaser_text"|trans }}</p>
    </div>

    <div class="container">
        <div class="row row-cols-3 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-3">
            <div class="col mb-2">
                <h2 class="text-center">{{ "link.info"|trans }}</h2>
                <p class="text-center"><a href="{{ path('info_index') }}"><i class="fa fa-info-circle fa-5x"></i></a></p>
            </div>
            <div class="col mb-2">
                <h2 class="text-center">{{ "link.onboarding"|trans }}</h2>
                <p class="text-center"><a href="{{ path('onboarding_index') }}"><i class="fa fa-egg fa-5x"></i></a></p>
            </div>
            <div class="col mb-2">
                <h2 class="text-center">{{ "link.notes"|trans }}</h2>
                <p class="text-center"><a href="{{ path('note_index') }}"><i class="fa fa-sticky-note fa-5x"></i></a></p>
            </div>
            <div class="col mb-2">
                <h2 class="text-center">{{ "link.letter"|trans }}</h2>
                <p class="text-center"><a href="{{ path('letter') }}"><i class="fa fa-file-alt fa-5x"></i></a></p>
            </div>
            <div class="col mb-2">
                <h2 class="text-center">{{ "link.sop"|trans }}</h2>
                <p class="text-center"><a href="{{ path('sop_index') }}"><i class="fa fa-clinic-medical fa-5x"></i></a></p>
            </div>
            <div class="col mb-2">
                <h2 class="text-center">{{ "link.contacts"|trans }}</h2>
                <p class="text-center"><a href="{{ path('contact_index') }}"><i class="fa fa-address-book fa-5x"></i></a></p>
            </div>
        </div>
    </div> <!-- /container -->
{% endblock %}
