{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ "title.homepage"|trans }}{% endblock %}

{% block body %}
    <main role="main" class="container">
        {% for label, messages in app.flashes(['warning', 'error', 'success', 'notice']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {{ include('_components/project_tabs.html.twig') }}

        <div class="jumbotron mt-2">
            <h1>{{ "homepage_teaser_h1"|trans }}</h1>
            <p class="lead">{{ "homepage_teaser_text"|trans }}</p>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2 class="text-center">Mitteilungen</h2>
                    <p class="text-center"><a href="{{ path('info_index') }}"><i class="fa fa-info-circle fa-5x"></i></a></p>
                </div>
                <div class="col-md-4">
                    <h2 class="text-center">Einarbeitung</h2>
                    <p class="text-center"><a href="{{ path('onboarding_index') }}"><i class="fa fa-egg fa-5x"></i></a></p>
                </div>
                <div class="col-md-4">
                    <h2 class="text-center">Notizen</h2>
                    <p class="text-center"><a href="{{ path('note_index') }}"><i class="fa fa-sticky-note fa-5x"></i></a></p>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-4">
                    <h2 class="text-center">Arztbriefe</h2>
                    <p class="text-center"><a href="{{ path('letter') }}"><i class="fa fa-file-alt fa-5x"></i></a></p>
                </div>
                <div class="col-md-4">
                    <h2 class="text-center">SOP</h2>
                    <p class="text-center"><a href="{{ path('sop_index') }}"><i class="fa fa-clinic-medical fa-5x"></i></a></p>
                </div>
                <div class="col-md-4">
                    <h2 class="text-center">Textbausteine</h2>
                    <p class="text-center"><a href="{{ path('snippet_index') }}"><i class="fa fa-clipboard-list fa-5x"></i></a></p>
                </div>
            </div>
        </div> <!-- /container -->
    </main>
{% endblock %}
