{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ "title.account"|trans }}{% endblock %}

{% block body %}
    {{ include('components/project_tabs.html.twig') }}

    <h1 class="mt-2">{{ "title.account"|trans }}</h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">
                {{ message|trans }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="row">
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item"><a href="{{ path('account') }}">{{ "link.account"|trans }}</a></li>
                <li class="list-group-item active"><a href="{{ path('account_change_password') }}">{{ "link.account.change_password"|trans }}</a></li>
            </ul>
        </div>
        <div class="col-md-9 order-first order-md-last my-auto">
            {{ form_start(form) }}

            {{ form_row(form.currentPassword) }}
            {{ form_row(form.plainPassword) }}

            <div class="clearfix">
                <div class="btn-group float-right" role="group" aria-label="">
                    <button type="submit" class="btn btn-success">{{ "button.account.change_password"|trans }}</button>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}