{{ form_start(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.sopFile) }}

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
