{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ "title.sop.edit"|trans }}: {{ sop.name }}{% endblock %}

{% block body %}
    {{ include('_components/project_tabs.html.twig') }}

    <h1 class="mt-2">{{ "title.sop.edit"|trans }}</h1>

    {{ form_start(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.sopFile) }}
    {{ form_row(form.tag) }}

    <div class="clearfix">
        <div class="btn-group float-right" role="group" aria-label="">
            <a class="btn btn-secondary" href="{{ path('sop_show', {'id': sop.id}) }}" role="button">{{ "link.sop.back"|trans }}</a>
            <button type="submit" class="btn btn-success">{{ "button.sop.save"|trans }}</button>
        </div>

    {{ form_end(form) }}

        {% if is_granted('ROLE_EDITOR') %}
            {{ include('sop/_delete_form.html.twig') }}
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('a2lixSfCollection') }}
{% endblock %}