{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ "title.sop.edit"|trans }}: {{ sop.name }}{% endblock %}

{% block body %}
    <main role="main" class="content container">
        {{ include('_components/project_tabs.html.twig') }}

        <h1 class="mt-2">{{ "title.sop.edit"|trans }}</h1>

        {{ form_start(form) }}

            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            {{ form_row(form.sopFile) }}

            <div class="clearfix">
                <div class="btn-group float-right" role="group" aria-label="">
                    <a class="btn btn-secondary" href="{{ path('sop_show', {'id': sop.id}) }}" role="button">{{ "link.sop.back"|trans }}</a>
                    <button type="submit" class="btn btn-success">{{ "button.sop.save"|trans }}</button>
                </div>

                {{ include('sop/_delete_form.html.twig') }}
            </div>
        {{ form_end(form) }}
    </main>
{% endblock %}
