{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ "title.sop.show"|trans }}: {{ sop.name }}{% endblock %}

{% block body %}
    {{ include('_components/project_tabs.html.twig') }}

    <h1 class="mt-2">{{ "title.sop.show"|trans }}</h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">
                {{ message|trans }}
            </div>
        {% endfor %}
    {% endfor %}

    <table class="table table-hover">
        <tbody>
        <tr>
            <th class="w-25">Id</th>
            <td class="w-75">{{ sop.id }}</td>
        </tr>
        <tr>
            <th>{{ "label.sop.name"|trans }}</th>
            <td>{{ sop.name }}</td>
        </tr>
        <tr>
            <th>{{ "label.sop.description"|trans }}</th>
            <td>{{ sop.description|raw }}</td>
        </tr>
        <tr>
            <th>{{ "label.sop.attachment"|trans }}</th>
            <td>
                <a href="{{ asset('uploads/' ~ sop.SOPFilename) }}" target="_blank">View Attachment (Opens in new window or tab)</a>
            </td>
        </tr>
        <tr>
            <th>{{ "label.sop.tags"|trans }}</th>
            <td>
                {% for tag in sop.tag %}
                    <a class="btn btn-outline-primary" href="{{ path('sop_filteredbytag', {'tag': tag.id}) }}">{{ tag.name }}</a>
                {% else %}
                    {{ "label.sop.notagsfound"|trans }}
                {% endfor %}
            </td>
        </tr>
        </tbody>
    </table>

    <div class="clearfix">
        <div class="btn-group float-right" role="group" aria-label="">
            <a class="btn btn-secondary" href="{{ path('sop_index') }}" role="button">{{ "link.sop.back_list"|trans }}</a>
            {% if is_granted('ROLE_EDITOR') %}
                <a class="btn btn-primary" href="{{ path('sop_edit', {'id': sop.id}) }}">{{ "button.sop.edit"|trans }}</a>
            {% endif %}
        </div>

        {% if is_granted('ROLE_EDITOR') %}
            {{ include('sop/_delete_form.html.twig') }}
        {% endif %}
    </div>
{% endblock %}
