{% block form %}
    {{ form_start(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.category) }}
    {{ form_row(form.text) }}

    {% if action == 'create' %}
        <div class="clearfix">
            <div class="btn-group float-right" role="group" aria-label="">
                <a class="btn btn-secondary" href="{{ path('note_index') }}" role="button">{{ "link.note.back_list"|trans }}</a>
                <button type="submit" class="btn btn-success">{{ "button.note.create"|trans }}</button>
            </div>

            {{ form_end(form) }}
        </div>
    {% elseif action == 'update' %}
        <div class="clearfix">
            <div class="btn-group float-right" role="group" aria-label="">
                <a class="btn btn-secondary" href="{{ path('note_show', {'id': note.id}) }}" role="button">{{ "link.note.back_list"|trans }}</a>
                <button type="submit" class="btn btn-success">{{ "button.note.save"|trans }}</button>
            </div>

            {{ form_end(form) }}

            {{ include('form/_delete_entity_form.html.twig', {
                'entity': note,
                'btn_delete': 'button.note.delete',
                'title_modal_delete': 'title.note_modal.delete',
                'msg_modal_delete': 'msg.note_modal.delete',
                'label_delete': 'label.delete_note',
                'entity_deletepath': 'note_delete',
                'show_confirmation': 'true'
            }) }}
        </div>
    {% endif %}
{% endblock %}