{% extends 'base.html.twig' %}

{% block title %}{{ "title.note.edit"|trans }} - {{ note.name }}{% endblock %}

{% block body %}
<main role="main" class="container">
    {{ include('_components/project_tabs.html.twig') }}

    <div>
        <h1 class="mt-2">{{ "title.note.edit"|trans }}</h1>

        {% for error in errors %}
            <div class="alert alert-danger">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endfor %}

        {{ include('note/_form.html.twig', {
            button_text: 'button.note.save'
        }) }}
        {{ include('note/_delete_form.html.twig') }}
    </div>
</main>
{% endblock %}
