{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ "title.note"|trans }}{% endblock %}

{% block body %}
<main role="main" class="container">
    {{ include('_components/project_tabs.html.twig') }}

    <div>
        <h1 class="mt-2">{{ "title.note"|trans }}</h1>

        <div class="row">
            <div class="col-3">
                <ul class="list-group">
                    {% for note in notes %}
                        <li class="list-group-item"><a href="{{ path('note_show', {'id': note.id}) }}">{{ note.name }}</a></li>
                    {% else %}
                        <li class="list-group-item disabled">{{ "msg.no.notes"|trans }}</li>
                    {% endfor %}
                    <li class="list-group-item"><a class="btn btn-primary" href="{{ path('note_new') }}" role="button">{{ "button.note.new"|trans }}</a></li>
                </ul>
            </div>
            <div class="col-9 my-auto">
                <p class="text-center" style="color:darkgrey">
                    <i class="fa fa-tasks fa-10x"></i><br />
                    {{ "msg.choose.note"|trans }}
                </p>
            </div>
        </div>
    </div>
</main>
{% endblock %}
