{% extends 'base.html.twig' %}

{% block title %}Note index{% endblock %}

{% block body %}
<main role="main" class="container">
    {{ include('components/project_tabs.html.twig') }}

    <div>
        <h1 class="mt-2">Notes</h1>

        <div class="row">
            <div class="col-3">
                <ul class="list-group">
                    {% for note in notes %}
                        <li class="list-group-item"><a href="{{ path('note_show', {'id': note.id}) }}">{{ note.name }}</a></li>
                    {% else %}
                        <li class="list-group-item disabled">No notes found</li>
                    {% endfor %}
                    <li class="list-group-item"><a class="btn btn-primary" href="{{ path('note_new') }}" role="button">{{ "button.note.new"|trans }}</a></li>
                </ul>
            </div>
            <div class="col-9">
                Select a note first.
            </div>
        </div>
    </div>
</main>
{% endblock %}
