{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ "title.note.new"|trans }}{% endblock %}

{% block body %}
    {{ include('components/project_tabs.html.twig') }}

    <h1 class="mt-2">{{ "title.note.new"|trans }}</h1>

    {% for error in errors %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endfor %}

    {{ form_start(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.category) }}
    {{ form_row(form.text) }}

        <div class="clearfix">
            <div class="btn-group float-right" role="group" aria-label="">
                <a class="btn btn-secondary" href="{{ path('note_index') }}" role="button">{{ "link.note.back_list"|trans }}</a>
                <button type="submit" class="btn btn-success">{{ "button.note.create"|trans }}</button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
