{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ "title.note.show"|trans }}: {{ note.name }}{% endblock %}

{% block body %}
<main role="main" class="container">
    {{ include('_components/project_tabs.html.twig') }}

    <div>
        <h1 class="mt-2">{{ "title.note.show"|trans }}</h1>

        <div class="row">
            <div class="col-3">
                <ul class="list-group">
                    {% for note in notes %}
                        <li class="list-group-item"><a href="{{ path('note_show', {'id': note.id}) }}">{{ note.name }}</a></li>
                    {% else %}
                        <li class="list-group-item disabled">{{ "msg.no.notes"|trans }}</li>
                    {% endfor %}
                    <li class="list-group-item"><a class="btn btn-primary" href="{{ path('note_new') }}" role="button">{{ "button.note.new"|trans }}</a></li>
                </ul>
            </div>
            <div class="col-9">
                <h2>{{ note.name }}</h2>

                <div class="mb-2">
                    {{ note.text|raw }}

                    <small style="color:dimgrey">{{ "updatedAt"|trans }} {{ note.updatedAt|timeago }}</small>
                </div>

                <div class="clearfix">
                    <div class="btn-group float-right" role="group" aria-label="">
                        <a class="btn btn-secondary" href="{{ path('note_edit', {'id': note.id}) }}" role="button">{{ "button.note.edit"|trans }}</a>
                    </div>

                    {{ include('note/_delete_form.html.twig') }}
                </div>
            </div>
        </div>

    </div>
</main>
{% endblock %}
