{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ "title.contacts"|trans }}{% endblock %}

{% block body %}
<main role="main" class="container">
    {{ include('_components/project_tabs.html.twig') }}

    <div>
        <h1 class="mt-2">{{ "title.contacts"|trans }}</h1>

        {% for row in contacts|batch(3) %}
            <div class="row mb-2">
                {% for contact in row %}
                    <div class="col-4">
                        <div class="card mx-auto" style="width: 22rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{ contact.name }}</h5>
                                <a class="btn btn-outline-primary" href="{{ path('contact_show', {'id': contact.id}) }}">{{ "button.contact.view"|trans }}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="row">
                {{ "msg.no.contacts.found"|trans }}
            </div>
        {% endfor %}

        <div class="clearfix mt-3">
            <div class="btn-group float-right" role="group" aria-label="">
                <a class="btn btn-primary" href="{{ path('contact_new') }}" role="button">{{ "button.contact.new"|trans }}</a>
            </div>
        </div>
</main>
{% endblock %}
