{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ "title.contact.show"|trans }}: {{ contact.name }}{% endblock %}

{% block body %}
    {{ include('_components/project_tabs.html.twig') }}

    <h1 class="mt-2">{{ "title.contact.show"|trans }}</h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">
                {{ message|trans }}
            </div>
        {% endfor %}
    {% endfor %}

    <table class="table table-hover">
        <tbody>
        <tr>
            <th class="w-25">Id</th>
            <td class="w-75">{{ contact.id }}</td>
        </tr>
        <tr>
            <th><i class="fa fa-address-book"></i> {{ "label.contact.name"|trans }}</th>
            <td>{{ contact.name }}</td>
        </tr>
        {% if contact.phone %}
            <tr>
                <th><i class="fa fa-phone"></i> {{ "label.contact.phone"|trans }}</th>
                <td>{{ contact.phone }}</td>
            </tr>
        {% endif %}
        {% if contact.fax %}
            <tr>
                <th><i class="fa fa-fax"></i> {{ "label.contact.fax"|trans }}</th>
                <td>{{ contact.fax }}</td>
            </tr>
        {% endif %}
        {% if contact.email %}
            <tr>
                <th><i class="fa fa-mail-bulk"></i> {{ "label.contact.email"|trans }}</th>
                <td>{{ contact.email }}</td>
            </tr>
        {% endif %}
        {% if contact.address %}
            <tr>
                <th><i class="fa fa-address-card"></i> {{ "label.contact.address"|trans }}</th>
                <td>{{ contact.address|nl2br }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <div class="clearfix">
        <div class="btn-group float-right" role="group" aria-label="">
            <a class="btn btn-secondary" href="{{ path('contact_index') }}" role="button">{{ "link.contact.back_list"|trans }}</a>
            {% if is_granted('ROLE_EDITOR') %}
                <a class="btn btn-primary" href="{{ path('contact_edit', {'id': contact.id}) }}">{{ "button.contact.edit"|trans }}</a>
            {% endif %}
        </div>

        {% if is_granted('ROLE_EDITOR') %}
            {{ include('contact/_delete_form.html.twig') }}
        {% endif %}
    </div>
{% endblock %}
