{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ "title.info"|trans }}{% endblock %}

{% block body %}
<main role="main" class="content container">
    {{ include('_components/project_tabs.html.twig') }}

    <div>
        <h1 class="mt-2">{{ "title.info"|trans }}</h1>

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}" role="alert">
                    {{ message|trans }}
                </div>
            {% endfor %}
        {% endfor %}

        <div class="container">
            {% for info in infos %}
                <div class="row mb-2">
                    <div class="card w-100">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{{ path('info_show', {'id': info.id}) }}">{{ info.name }}</a></h5>
                            <div class="card-text">{{ info.text|raw }}</div>
                            <small style="color:dimgrey">{{ "updatedAt"|trans }} {{ info.updatedAt|timeago }}</small>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    {{ "msg.no.infos.found"|trans }}
                </div>
            {% endfor %}
        </div>

        {% if is_granted('ROLE_EDITOR') %}
            <div class="clearfix mt-3">
                <div class="btn-group float-right" role="group" aria-label="">
                    <a class="btn btn-primary" href="{{ path('info_new') }}" role="button">{{ "button.info.new"|trans }}</a>
                </div>
            </div>
        {% endif %}
    </div>
</main>
{% endblock %}