{% extends 'base.html.twig' %}

{% block title %}{{ "title.info"|trans }}{% endblock %}

{% block body %}
<main role="main" class="container">
    {{ include('_components/project_tabs.html.twig') }}

    <div>
        <h1 class="mt-2">{{ "title.info"|trans }}</h1>

        {% for info in infos %}
            <div class="row mb-2">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{ path('info_show', {'id': info.id}) }}">{{ info.name }}</a></h5>
                        <div class="card-text">{{ info.text|raw }}</div>
                        <small>Created at {{ info.createdAt|date("Y.m.d H:i") }}, last updated at {{ info.updatedAt|date("Y.m.d H:i") }}</small>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row">
                No entries found.
            </div>
        {% endfor %}

        <div>
            <a class="btn btn-primary" href="{{ path('info_new') }}" role="button">{{ "button.info.new"|trans }}</a>
        </div>
    </div>
</main>
{% endblock %}