{% extends 'base.html.twig' %}

{% block title %}{{ "title.info"|trans }}{% endblock %}

{% block body %}
<main role="main" class="container">
    {{ include('components/project_tabs.html.twig') }}

    <div>
        <h1 class="mt-2">{{ "title.info"|trans }}</h1>

        <div class="row">
            <div class="col-3">
                <ul class="list-group">
                    {% for note in notes %}
                        <li class="list-group-item"><a href="{{ path('info_show', {'id': note.id}) }}">{{ note.name }}</a></li>
                    {% else %}
                        <li class="list-group-item disabled">No entries found</li>
                    {% endfor %}
                    <li class="list-group-item"><a class="btn btn-primary" href="{{ path('info_new') }}" role="button">{{ "button.info.new"|trans }}</a></li>
                </ul>
            </div>
            <div class="col-9 my-auto">
                <p class="text-center" style="color:darkgrey">
                    <i class="fa fa-tasks fa-10x"></i>
                    <br />Mitteilung auswählen
                </p>
            </div>
        </div>
    </div>
</main>
{% endblock %}
