{% extends 'base.html.twig' %}

{% block title %}{{ "title.info.new"|trans }}{% endblock %}

{% block body %}
<main role="main" class="container">
    {{ include('_components/project_tabs.html.twig') }}

    <div>
        <h1 class="mt-2">{{ "title.info.new"|trans }}</h1>

        {% for error in errors %}
            <div class="alert alert-danger">
                {{ error.messageKey|trans(error.messageData) }}
            </div>
        {% endfor %}

        {{ include('info/_form.html.twig', {
            button_text: 'button.info.create'
        }) }}
    </div>
</main>
{% endblock %}
