{% extends 'base.html.twig' %}

{% block title %}{{ "title.info.show"|trans }} - {{ info.name }}{% endblock %}

{% block body %}
<main role="main" class="container">
    {{ include('_components/project_tabs.html.twig') }}

    <div>
        <h1 class="mt-2">{{ "title.info.show"|trans }}</h1>

        <h2>{{ info.name }}</h2>

        <div class="mb-2">
            {{ info.text|raw }}

            <small>Created at {{ info.createdAt|date("Y.m.d H:i") }}, last updated at {{ info.updatedAt|date("Y.m.d H:i") }}</small>
        </div>

        <div class="clearfix">
            <div class="btn-group float-right" role="group" aria-label="">
                <a class="btn btn-secondary" href="{{ path('info_index') }}" role="button">{{ "link.info.back_list"|trans }}</a>
                <a class="btn btn-primary" href="{{ path('info_edit', {'id': info.id}) }}" role="button">{{ "button.info.edit"|trans }}</a>
            </div>

            {{ include('info/_delete_form.html.twig') }}
        </div>
    </div>
</main>
{% endblock %}
