{% block projecttabs %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link{% if app.request.attributes.get( '_route' ) starts with 'homepage' %} active{% endif %}" href="{{ path('homepage') }}"><i class="fa fa-home"></i> {{ "link.homepage"|trans }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if app.request.attributes.get( '_route' ) starts with 'info' %} active{% endif %}" href="{{ path('info_index') }}"><i class="fa fa-info-circle"></i> {{ "link.info"|trans }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if app.request.attributes.get( '_route' ) starts with 'sop' %} active{% endif %}" href="{{ path('sop_index') }}"><i class="fa fa-clinic-medical"></i> {{ "link.sop"|trans }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if app.request.attributes.get( '_route' ) starts with 'onboarding' %} active{% endif %}" href="{{ path('onboarding_index') }}"><i class="fa fa-egg"></i> {{ "link.onboarding"|trans }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if app.request.attributes.get( '_route' ) starts with 'letter' %} active{% endif %}" href="{{ path('letter') }}"><i class="fa fa-file-alt"></i> {{ "link.letter"|trans }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if app.request.attributes.get( '_route' ) starts with 'finding' %} active{% endif %}" href="{{ path('finding_generator') }}"><i class="fa fa-book-medical"></i> {{ "link.findings"|trans }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if app.request.attributes.get( '_route' ) starts with 'note' %} active{% endif %}" href="{{ path('note_index') }}"><i class="fa fa-sticky-note"></i> {{ "link.notes"|trans }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if app.request.attributes.get( '_route' ) starts with 'contact' %} active{% endif %}" href="{{ path('contact_index') }}"><i class="fa fa-address-book"></i> {{ "link.contacts"|trans }}</a>
        </li>
    </ul>
{% endblock %}