{% block navbar %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
    <div class="container">
        <a class="navbar-brand" href="{{ path('homepage') }}">ICUhelp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="{{ "action.toggle_navigation"|trans }}">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">

            <ul class="navbar-nav ml-auto">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="dropdown01" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ "label.logged_in_as"|trans }}: {{ app.user.username }}</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            {% if is_granted("ROLE_ADMIN") %}
                                <a class="dropdown-item" href="{{ path('app_admin_dashboard_index') }}"><i class="fa fa-cogs"></i> {{ "link.backend"|trans }}</a>
                                <div class="dropdown-divider"></div>
                            {% endif %}
                            <a class="dropdown-item" href="{{ path('security_logout') }}"><i class="fa fa-power-off"></i> {{ "link.logout"|trans }}</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('security_login') }}">{{ "link.login"|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('security_register') }}">{{ "link.register"|trans }}</a>
                    </li>
                {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}